@using Body4U.Common
@using Body4U.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item">
            <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
        </li>
    }
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="MyProfile">Моят профил</a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="Logout">Изход</a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Login">Вход</a>
    </li>
}