<section class="breadcrumbs">
    <div class="container">
        <h3>
            <p>@ViewBag.ErrorMessage</p>
        </h3>
        <h5>Моля свържете се с нас на имейл: body4u2020@abv.bg</h5>
        <a asp-action="Index" asp-controller="Home">Начална страница</a>
    </div>
</section>