@model Body4U.Web.ViewModels.Account.ForgotPasswordRequest

<form enctype="multipart/form-data" method="post" asp-controller="Account" asp-action="ForgotPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="email" name="Email" class="form-control" id="emailInput"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Изпрати</button>
</form>