@model Body4U.Web.ViewModels.Account.ResetPasswordRequest

<form enctype="multipart/form-data" method="post" asp-controller="Account" asp-action="ResetPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Token" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <div class="form-group">
        <label asp-for="Password">Нова парола</label>
        <input asp-for="Password" type="password" name="Password" class="form-control" id="passwordInput" autocomplete="off"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Потвърди парола</label>
        <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" class="form-control" id="confirmPassword" autocomplete="off"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Поднови</button>
</form>