@model Body4U.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="container">
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="GetRoles">Роли</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="GetAllUsers">Потребители</a>
</div>
